<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.g10.locomobile">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".user.TrainDetailsActivity"></activity>
        <activity
            android:name=".admin.ManageLineActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".admin.TrainInfoActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".SearchResultsActivity" />
        <activity android:name=".TrainSearchActivity" />
        <activity android:name=".user.MyTicketsActivity" />
        <activity android:name=".user.SeatActivity" />
        <activity
            android:name=".admin.TrainCreateActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".PassengerInfoActivity" />
        <activity android:name=".ui.main.DiscountManagementFragment" />
        <activity
            android:name=".admin.AdminActivity"
            android:label="@string/title_activity_admin"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_reg" />
    </application>

</manifest>